/*.page-header
{
    padding-bottom: 0px !important;
    margin: 0px 0 0px !important; 
    border-bottom: 1px solid #eee !important;
}
.panel
{
    
    margin-bottom: 0px !important; 
    background-color: unset !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.05)!important;
    margin-top: 0px !important;
}*/
